.container {
    position: relative;
    margin: 0;
}

h1 {
    font-size: 24px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Texto em negrito */
}

.texto_depois,
.texto_sobre_img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: aliceblue;
}

.submenu {
    position: absolute;
    top: 100%;
    /* Posiciona abaixo do item do menu principal */
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/* Mostra o submenu quando o item do menu principal é hover */