 .book-gallery { 
    overflow: hidden; /* Limpa o fluxo e previne comportamentos inesperados */
}

.logo {
   width: 50%;    /* width: 333%; */
   text-align: top; /* Centraliza o conteúdo horizontalmente */
}

body {
    background-image: url("./imagens/Sobre_EcoClean.jpg");
    background-size: cover;
    background-position: top left;
    margin: 0;
    padding: 0;
    position: relative; /* Define o elemento pai com position: relative */
}

/* .logo1 {
    display:contents;
    position:absolute;
    width: 3000rex;
} */

.logo1 {
    display: inline-block;
    width: 80%;    /* width: 300%; */
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: absolute; /*  Define .logo1 com position: absolute */
}

/* ********************************************************************************************************************************************** */
.Sobre_nos_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lavando_carro {
    max-width: 50%; /* Ajuste a largura da imagem ao seu gosto */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.texto_sobre_nos {
    max-width: 50%; /* Ajuste a largura do texto ao seu gosto */
}

.texto_sobre_img_lavando_carro {
     display: flex; 
    align-self:flex-start;
    position: absolute;
    font-size: 25px;
    margin-right: 40%;
}