.container {
    position: relative;
    margin: 0;
}        

h1 {
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
 } 

.texto_depois,
.texto_sobre_img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color:aliceblue;
}

.menu {
    position: absolute;
    top: 5px; /* Ajuste conforme necessário */
    right: 500px; /* Ajuste conforme necessário */
    font-size: 20px; /* Tamanho da fonte desejado */
    padding: 0px;
    margin-bottom: 10px; /*  10px  Espaço entre os itens do menu suspenso */    
}

.menu ul {
    list-style: none;
    padding: 0;
}
.menu li {
    display: inline; /* Exibe os itens do menu em linha */
    margin-right: 20px; /* Espaço entre os itens do menu */
    position: relative; /* Define a posição relativa para posicionar o submenu */ 

}

.menu ul li a {
    color: #333; /* Cor padrão do texto do link */
    text-decoration: none; /* Remover sublinhado padrão */
    transition: 500ms linear;        
}

.menu ul li a:hover {
    color: black; /* Cor quando o mouse passa sobre o link */
    /* background-color: #CCC; */
}

.submenu {
    position: absolute;
    top: 100%; /* Posiciona abaixo do item do menu principal */
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
    /* Mostra o submenu quando o item do menu principal é hover */
.menu li:hover .submenu {
        display: block;
    }
    /* Seletor para remover o sublinhado de links no menu */
header .menu ul li a {
    text-decoration: none;
    /* color:grey; */
    color: aliceblue;
}
