#facebook,
#instagram,
#whatsapp-icon {
    position:fixed;
    bottom: 20px; /* Ajuste conforme necessário para a posição vertical */
    right: 20px; /* Ajuste conforme necessário para a posição horizontal */
    /* align-items: end; */
    z-index: 1;
  }

#facebook {
  top: 10%;
} 

#instagram {
  position: fixed;
  right: 20px;
  top: 15%;
}

#facebook,
#instagram,
#whatsapp-icon a {
  display: block;
  background-color: transparent; /* Cor de fundo do ícone */
  padding: 10px;
  border-radius: 50%; /* Torna o ícone circular */
  z-index: 1;
}

#facebook,
#instagram,
#whatsapp-icon img {
  width: 40px; /* Tamanho do ícone */
  height: 40px;
  /* align-items: center; */
  z-index: 1;
}
