body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    font-size: 14px;
    line-height: 1.42857143;
    color: #0b0a0a;
    background-color: #ebe1e1;
}
section {
    display: flex;
    list-style: none;
    justify-content: space-around;

}
.titulo_sobre{
    text-align: center;
    font-size: 3em;
}
.texto-copy {
    color: aquamarine;
    text-align: center;
}

.formulario-modal {
    width: 100vw;
    height: 100vh;
    background-color: #3333338d;
    position: fixed;
    left: 0%;
    top: 0px;
    color: #111111;
}

#formulario-colaborador {
    background-color: #f4efef;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.btn-cancelar {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(124, 5, 5);
    color: #fff;
    cursor: pointer;
    transition: 300ms;

}

.btn-cancelar:hover {
    background-color: rgb(221, 90, 90);
}