@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #0b0a0a;
    background-color: white;
}
center >h2{
    font-size: 3em;
}






/*.menu{
    height: 1px;
    width: 50%;
    transition: 1s;*/
/*background-color: #f1f1f1;
        height: 1px;
        width: 0%;
        transition: 1s;
        left: 50%;*/

/*.nav a:hover .menu{
        width: 100%; 
}*/



.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
h2 {
    margin: 10px;

     
}



.main-image {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: px;
    list-style: none;
}

button {
    border: 3px solid #91dc5b;
    padding: 10px 30px;
    color: #91dc5b;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    transition: all .5s ease;
    border-radius: 0px !important;
    margin: 30px;
}

section {
    display: flex;
    list-style: none;
    justify-content: space-around;

}

section img2 {
    display: flex;
    justify-content: center;
}


strong {
    margin: 10px;
    padding: 10px;
}

p{
    margin: 30px;
    justify-content: center;
    font-size: 18px;
}





.texto-copy {
    color: aquamarine;
    text-align: center;
}

.formulario-modal {
    width: 100vw;
    height: 100vh;
    background-color: #3333338d;
    position: fixed;
    left: 0%;
    top: 0px;
    color: #111111;
}

#formulario-colaborador {
    background-color: #f4efef;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.btn-cancelar {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(124, 5, 5);
    color: #fff;
    cursor: pointer;
    transition: 300ms;

}

.btn-cancelar:hover {
    background-color: rgb(221, 90, 90);
}

@media(max-width: 1315px) {
    .sub-titulo {
        font-size: 2em;
    }

    .lista {
        width: 90%;
        overflow-y: scroll;
        height: 600px;
    }

    .item_lista {
        min-width: 500px;
    }

    .nav {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
}

@media(max-width: 1849px) {
    .lista {
        width: 85%;
    }
}

.submenu {
    position: absolute;
    top: 100%;
    /* Posiciona abaixo do item do menu principal */
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}


.avatar {
  
    box-shadow: rgb(45, 44, 44) 4px 4px 4px 4px;
}


/*.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

.logos {
    display: flex;
    gap:20px;
    transition: 700ms;

}

.avatar {
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    margin:5px;
}
