#formulario-contato_c {
    background-color: #f0f0f0; /* Cor de fundo do retângulo */
    padding: 20px; /* Espaçamento interno */
    width: 70%; /* 70 Largura do retângulo, ajuste conforme necessário */
    margin: 0 auto; /* Centralize o retângulo na página */
    overflow: hidden; /* Limpe os floats */
    position: relative; /*  incluido depois */
    top: 230px; /* posição do topo para baixo incluido depois */
    align-self: center;
}

.h2,
.contato {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
}

div .linha_l {
    margin-bottom: 0px; /* Espaçamento inferior entre linhas  no outro esta 50px*/
}
.coluna_c {
/* Estilize as colunas do formulário */
    width: 100%; /* 48% de largura para ocupar metade do retângulo */
    margin-right: 10%; /* Espaço entre as colunas */
    display: flexbox; /*display: inline-block;  */
    float: left;
}
/* Limpe o float após as colunas */
.coluna_c:last-child {
    margin-right: 0; /* Remova o espaçamento direito da última coluna */
}
/* Estilize o botão de envio */
input[type="submit"] {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remova a borda do botão */
    border-radius: 5px; /* Cantos arredondados do botão */
    cursor: pointer; /* Altere o cursor ao passar o mouse */
}
/* Estilize o botão de envio quando o mouse estiver sobre ele */
input[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo alterada no hover */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    width: 50%; /* Ocupa 100% da largura do contêiner */
    padding: 10px;
    border-radius: 5px;
    height: 5px;
}

.linha_l::after {
    content: "";
    display: table;
    clear: both;
}

.contato-container { 
    display:flex;
    flex-direction:row ; /* Alinhe na horizontal */
    justify-content: center;
}

.contato-texto {
    padding: 10px;
    max-width: 50%; /*Limite a largura para evitar sobreposição com o formulário */
    text-align: right;
}

#nome_contato {
    width: 90%;
}

#mensagem {
    padding: 0.5% 4.5%;
    height: 50px;
} 

.cor-expressiva {
    color: red; /* Altere para a cor desejada */
    font-weight: bold; /* Você pode adicionar outros estilos, como negrito, se desejar */
}
