
.titulo{
    text-align: center;
    color: rgb(2, 54, 36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
details {
    display: block;
    max-width: 960px; /*Largura da caixa*/
    width: 100%; /*largura da caixa*/
    margin: 10px auto;
    background-color: #efefef;
    padding: 10px;
  }
  
  /*Vai cor de fundo dos títulos*/
  summary {
    display: block;
    background: #789c03;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  summary:after {
    content: "+";
    color: #111;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 5px 0 0;
    padding: 0;
    text-align: center;
    width: 20px;
  }
  
  #linha p {
    padding: 10px;
    background-color: #efefef;
  }
  
  #linha[open] summary:after {
    content: "-";
    color: #ffffff;
  }