@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@700&display=swap');



body {
    width: 100vw;
    height: 100vh;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #f9f6f6;
    background-color: #ebe1e1;
}



.imagem_banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: inline-block;
    z-index: 1;
}



.Titulo {
    /*font-family: 'Roboto', sans-serif;*/
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 4em;
    color: #333;
    text-align: center;
}

.sub-titulo {
    /*font-family: 'Roboto', sans-serif;
    text-transform: uppercase;*/
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 3em;
    color: #333;
    text-align: center;
}

.servicos_conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.titulo_servico {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #f1f1f1;

}

.paragrafo {
    font-family: 'Lora', serif;
    flex-wrap: wrap;
    border: 1px;
    color: #f3eded;
    width: 100%;
    font-size: 16px;
    text-shadow: 1px 1px 20px black;
    /* height: auto; */
    contain: layout;

}

.lista {
    width: 62%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    gap: 20px;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0;
    margin-bottom: 50px;
}

.item_lista {
    width: 47%;
    height: auto;
    border: 2px solid rgb(29, 153, 50);
    padding: 10px;
}

#imagem1 {
    /*background-image: url(./imagens-nadia/HIGIENIZACAO_INTERNA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0801016e;
    background-blend-mode: multiply;*/
    background-image: linear-gradient(#c9bbbb, #111111);
}


#imagem2 {
    /*background-image: url(./imagens-nadia/HIGIENIZACAO_EXTERNA.jpg);*/
    background-image: linear-gradient(#c9bbbb, #111111);
}


#imagem3 {
    /*background-image: url(./imagens-nadia/LIPEZA_TECNICA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0801016e;
    background-blend-mode: multiply;}*/
    background-image: linear-gradient(#c9bbbb, #111111);
}

#imagem4 {
    /*background-image: url(./imagens-nadia/REVITALIZACAO_FAROIS.jpg);*/
    background-image: linear-gradient(#c9bbbb, #111111);
}

#imagem5 {
    /*background-image: url(./imagens-nadia/POLIMENTO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0801016e;
    background-blend-mode: multiply;}*/
    background-image: linear-gradient(#c9bbbb, #111111);
}

#imagem6 {
    /*background-image: url(./imagens-nadia/IPERMEABILIZACAO_VIDRO.jpg);*/
    background-image: linear-gradient(#c9bbbb, #111111);
}

.imagem_0 {
    background-image: url(./imagens-nadia/POLIMENTO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0801016e;
    background-blend-mode: multiply;
}

#modal-servicos {

    box-sizing: unset;
    width: 30%;
    background-image: url(./imagens-nadia/HIGIENIZACAO_INTERNA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0801016e;
    background-blend-mode: multiply;
    padding: 20px;
    margin: auto;
}



.contato-texto {
    padding: 10px;
    max-width: 50%;
    /*Limite a largura para evitar sobreposição com o formulário */
    text-align: right;
}

.formulario-modal {
    width: 100vw;
    height: 100vh;
    background-color: #3333338d;
    position: fixed;
    left: 0%;
    top: 0px;
    color: #111111;
}

#formulario-colaborador {
    background-color: #f4efef;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.btn-cancelar {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(124, 5, 5);
    color: #fff;
    cursor: pointer;
    transition: 300ms;

}

.btn-cancelar:hover {
    background-color: rgb(221, 90, 90);
}

.texto-copy {
    color: aquamarine;
    text-align: center;
}

@media(max-width: 1315px) {
    .sub-titulo {
        font-size: 2em;
    }

    .lista {
        width: 90%;
        overflow-y: scroll;
        height: 600px;
    }

    .item_lista {
        min-width: 260px;
    }

    .nav {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

}

@media(max-width: 1849px) {
    .lista {
        width: 85%;
    }
}



h1 {

    font-weight: bold;
    /* Texto em negrito */
}

.texto_depois,
.texto_sobre_img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: aliceblue;
}


.submenu {
    position: absolute;
    top: 100%;
    /* Posiciona abaixo do item do menu principal */
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/* Mostra o submenu quando o item do menu principal é hover */