*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        width: 100vw;
        height: 100vh;
        /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #f1f1f1;
    }
    
.imagem_banner{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.Titulo{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #5e0303;
    text-align: center;
}
.sub-titulo{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #5e0303;
    text-align: center;
}
 
.servicos_conteiner{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
}
.titulo_servico{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #f1f1f1;
    
}

.paragrafo {
    flex-wrap: wrap;
    border: 1px;
    color: #f3eded;
    width: 100%;
    /* height: auto; */
    contain: layout;

}
.lista{
    width: 40%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    gap: 20px;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0;
    margin-bottom: 50px;
}
.item_lista{
    width: 45%;
    height: auto;
    border: 2px solid rgb(29, 153, 50);
    padding: 10px;   
}
#imagem1{background-image: url(./imagens-nadia/HIGIENIZACAO_INTERNA.jpg);
}
#imagem2{background-image: url(./imagens-nadia/HIGIENIZACAO_EXTERNA.jpg);}
#imagem3{background-image: url(./imagens-nadia/LIPEZA_TECNICA.jpg);}
#imagem4{background-image: url(./imagens-nadia/REVITALIZACAO_FAROIS.jpg);}
#imagem5{background-image: url(./imagens-nadia/POLIMENTO.jpg);}
#imagem6{background-image: url(./imagens-nadia/IPERMEABILIZACAO_VIDRO.jpg);}

.contato-texto {
    padding: 10px;
    max-width: 50%; /*Limite a largura para evitar sobreposição com o formulário */
    text-align: right;
}